/* Font Management */
h1,h2,h3,h4,h5,h6,p,a,button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5 !important;
  margin: 0;
  text-decoration: none !important;
}
span {
  font-weight: bold;
}
textarea {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  line-height: 1.5 !important;
  margin: 0;
  text-decoration: none;
}
/* End: Font Management */

/* Color Management */
:root {
  --color-1: #004266;
  --color-2: #ffd100;
  --color-3: #000000;
  --color-4: #fafafa;
  --color-5: #2e2e2e;
}
/* End: Color Management */

/* Button Utility */
.button {
  background-color: var(--color-3);
  border-radius: 0.5rem;
  color: var(--color-4);
  padding: 0.25rem 0.5rem;
}
.button:hover {
  background-color: var(--color-4);
  color: var(--color-3);
}
/* End : Button Utility */

/* Navbar */
.navbar {
  background-color: var(--color-3);
  padding: 7px 0 !important;
}
.navbar a {
  color: var(--color-4) !important;
  letter-spacing: 0.1rem;
}
.navbar a:hover {
  color: var(--color-2) !important;
}
/* End: Navbar */

/* Hero Section */
#hero {
  padding: 128px 50px 64px 50px;
  background-color: var(--color-1);
  color: var(--color-4);
}
/* End: Hero Section */

/* Experiment Available */
#exper {
  padding: 128px 50px 64px 50px;
  background-color: var(--color-4);
  color: var(--color-1) !important;
}
.exper-title a {
  color: var(--color-1) !important;
}
.exper-title a:hover {
  color: var(--color-3) !important;
}
form .invalid {
  border: 2px solid red !important;
}
.error-hint {
  color: red;
}
.hidden {
  display: none;
}
.alert {
  padding: 10px;
  background-color:red;
  border-radius: 1.25rem;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: maroon;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: white;
}
/* End: Experiment Available */

/* Footer */
#footer {
  background-color: var(--color-3);
  color: var(--color-4);
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}
/* End: Footer */

/* Media Queries */
@media (max-width: 991.98px) {
  .jumbotron, #manuals, #experiments {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #manuals .step-class {
    margin-top: 1.5rem;
    text-align: center;
  }
  #nav-tabContent {
    text-align: center;
  }
  #experiments .guide-col {
    margin-top: 1rem;
  }
  #nav-tabContent h4 {
    margin-top: 2rem;
  }
}
/* End : Media Queries */