h1,h2,h3,h4,h5,h6,p,a,button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5 !important;
  margin: 0;
}
span {
  font-weight: bold;
}

/* Color Opt */
:root {
  --color-1: #004266;
  --color-2: #ffd100;
  --color-3: #000000;
  --color-4: #fafafa;
  --color-5: #2e2e2e;
}
/* End : Color Opt */

/* Input Utility */
/* input:valid {border: solid greenyellow 3px;} */
/* input:invalid {border: solid red 3px;} */
/* End : Input Utility */

/* Button Utility */
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5 !important;
  background-color: var(--color-2);
  border-radius: 0.5rem;
  color: var(--color-1);
  padding: 0.2rem 0.5rem;
}
.button:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}
/* End : Button Utility */

/* Navbar */
.navbar {
  background-color: rgb(0,0,0) !important;
}
.navbar a {
  color: var(--color-4) !important;
  letter-spacing: 0.1rem;
}
.navbar a:hover {
  color: var(--color-2) !important;
}
.nav-link .active::after {
  color: var(--color-2) !important;
}
/* End : Navbar */

/* Jumbotron */
.jumbotron {
  background-color: var(--color-1);
  color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
/* End : Jumbotron */

/* Manuals */
#manuals {
  background-color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
/* End : Manuals */

/* Experiments */
#experiments {
  background-color: var(--color-4);
  padding: 8rem 0 4rem 0;
}
#experiments .nav-tabs {
  border-bottom: none;
  margin-bottom: 0;
}
#experiments .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: var(--color-4);
  border-bottom: solid 2px var(--color-1);
  margin-bottom: -2px;
  transition: none !important;
}
#experiments .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: var(--color-4);
  border-color: var(--color-4);
  color: var(--color-3);
}
#show-result-signal {
  width: 50%;
}
/* End : Experiments */

/* Footer */
#footer {
  background-color: var(--color-5);
  color: var(--color-4);
  padding: 1rem 0;
}
/* End : Footer */

/* Media Queries */
@media (max-width: 991.98px) {
  .jumbotron, #manuals, #experiments {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #manuals .step-class {
    margin-top: 1.5rem;
    text-align: center;
  }
  #nav-tabContent {
    text-align: center;
  }
  #experiments .guide-col {
    margin-top: 1rem;
  }
}
/* End : Media Queries */