<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap and Local CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" href="/TelcoWeb/static/css/older.css">
  <!-- Google Font -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
  </style>
  <!-- Title and Icon -->
  <link rel="icon" href="/TelcoWeb/static/img/bg-title.png">
  <title>TelcoLAB - Web Pasca C250</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/TelcoWeb/static/img/title-ugm.png" height="46" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
          <a class="nav-link" href="#manuals">GUIDE</a>
          <a class="nav-link" href="#experiments">EXPERIMENTS</a>
          <!-- <a class="btn button" href="#">Login</a> -->
        </div>
      </div>
    </div>
  </nav>
  <!-- End : Navbar -->

  <!-- Jumbotron -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-2">Welcome to <span>TelcoLAB</span></h1>
      <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta sapiente officiis nesciunt
        veritatis asperiores dolor dolores excepturi consequatur, sequi repellat ad dolorem labore rem quidem est.
        Temporibus vel autem qui enim animi iusto aperiam doloremque iste magnam rem expedita, eos, quasi mollitia
        soluta commodi eligendi repellat impedit quos sapiente culpa incidunt sequi nesciunt ipsa. Dignissimos quidem,
        quis aliquam harum id repellendus deserunt asperiores sed hic, amet rerum eaque, dolorum ea est voluptatum
        repellat! Voluptas, unde necessitatibus. Ullam sed ut molestiae velit cumque suscipit totam, impedit id deleniti
        ducimus corporis voluptas debitis fuga a odit. Cupiditate doloremque reprehenderit iste fugiat tenetur omnis
        ipsa ullam inventore voluptates? Inventore est vero praesentium maiores consequuntur libero odio? Necessitatibus
        officiis dolorem excepturi cum nisi dolores, labore repellendus at quasi. Molestiae nam corrupti necessitatibus
        eum veritatis eligendi, esse suscipit doloremque minima nesciunt repudiandae. Ducimus saepe pariatur, dolor quos
        porro autem neque accusantium odit mollitia, sint eveniet.</p>
      <p class="mt-4">Ready to start? Check the guidelines below.</p>
      <a class="btn button mt-4" href="/TelcoWeb/static/docs/Modul-Tektel.pdf" target="_blank">Guidelines</a>
    </div>
  </section>
  <!-- End : Jumbotron -->

  <!-- Manuals -->
  <section id="manuals">
    <div class="container">
      <!-- Manuals Title -->
      <h3 class="display-5 text-center"><span>Manuals :</span> How to Use TelcoLAB</h3>
      <p class="mt-4 text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, tenetur.</p>
      <!-- Manuals Step -->
      <div class="row justify-content-center mt-5">
        <!-- Manuals Step 1 -->
        <div class="col-lg step-class">
          <h4 class="fw-bold text-center">STEP 1</h4>
          <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo?
          </p>
        </div>
        <!-- Manuals Step 2 -->
        <div class="col-lg step-class">
          <h4 class="fw-bold text-center">STEP 2</h4>
          <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo?
          </p>
        </div>
        <!-- Manuals Step 3 -->
        <div class="col-lg step-class">
          <h4 class="fw-bold text-center">STEP 3</h4>
          <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo?
          </p>
        </div>
        <!-- Manuals Step 4 -->
        <div class="col-lg step-class">
          <h4 class="fw-bold text-center">STEP 4</h4>
          <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            libero numquam incidunt quo. Culpa beatae impedit, suscipit dolorum sunt
            quo?
          </p>
        </div>
      </div>
      <!-- End : Manuals Step -->
    </div>
  </section>
  <!-- End : Manuals -->

  <!-- Experiments -->
  <section id="experiments">
    <div class="container">
      <!-- Experiments Title -->
      <h2 class="display-5 text-center"><span>Experiments</span> Available</h2>
      <!-- Experiment Tabs -->
      <nav>
        <div class="nav nav-tabs justify-content-center mt-4" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-signal-tab" data-bs-toggle="tab" data-bs-target="#nav-signal"
            type="button" role="tab" aria-controls="nav-signal" aria-selected="true">Signal Generator</button>
          <button class="nav-link" id="nav-am-tab" data-bs-toggle="tab" data-bs-target="#nav-am" type="button"
            role="tab" aria-controls="nav-am" aria-selected="false">AM Modulation</button>
          <button class="nav-link" id="nav-fm-tab" data-bs-toggle="tab" data-bs-target="#nav-fm" type="button"
            role="tab" aria-controls="nav-fm" aria-selected="false">FM Modulation</button>
          <button class="nav-link" id="nav-bask-tab" data-bs-toggle="tab" data-bs-target="#nav-bask" type="button"
            role="tab" aria-controls="nav-bask" aria-selected="false">BASK Modulation</button>
          <button class="nav-link" id="nav-bfsk-tab" data-bs-toggle="tab" data-bs-target="#nav-bfsk" type="button"
            role="tab" aria-controls="nav-bfsk" aria-selected="false">BFSK Modulation</button>
          <button class="nav-link" id="nav-bpsk-tab" data-bs-toggle="tab" data-bs-target="#nav-bpsk" type="button"
            role="tab" aria-controls="nav-bpsk" aria-selected="false">BPSK Modulation</button>
        </div>
      </nav>
      <!-- Experiment Tabs Content -->
      <div class="row tab-content mt-2" id="nav-tabContent">
        <!-- Tab : Signal Generator -->
        <div class="tab-pane fade show active" id="nav-signal" role="tabpanel" aria-labelledby="nav-signal-tab">
          <!-- Signal Generator : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- Signal Generator : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>Signal Generator :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- Signal Generator : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'signalgen' %}#nav-signal" method="post">
                {% csrf_token %}
                <input type="textarea" name="parameter_signal" required style="height: 50px; width: 600px; margin-top: 30px;" placeholder="wave freq x sample y amp z"/>
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;" />
              </form>
            </div>
          </div>
          <!-- Signal Generator : Output -->
          <div class="row justify-content-center mt-5" id="show-result-signal">
            {% if wave == 'sinus' %}
            <img src="data:image/png;base64, {{sin|safe}}" />
            {% elif wave == 'square' %}
            <img src="data:image/png;base64, {{sq|safe}}" />
            {% elif wave == 'sawtooth' %}
            <img src="data:image/png;base64, {{saw|safe}}" />
            {% elif wave == 'signalgen' %}
            <img src="data:image/png;base64, {{semua|safe}}" />
            {% endif %}
          </div>
        </div>
        <!-- Tab : AM Modulation -->
        <div class="tab-pane fade" id="nav-am" role="tabpanel" aria-labelledby="nav-am-tab">
          <!-- AM Modulation : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- AM Modulation : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>AM Modulation :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- AM Modulation : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'am' %}" method="post">
                {% csrf_token %}
                <input type="text" name="parameter_am" required style="height: 50px; width: 600px; margin-top: 30px;" placeholder="(tipe) (wave) 'Am' (Am) 'fm' (fm) 'carrier Ac' (Ac) 'fc' (fc)"/>
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;"/>
              </form>
            </div>
          </div>
          <!-- AM Modulation : Output -->
          <div class="row justify-content-center mt-5" id="show-result-am">
            {% if tipe == 'ssb' %}
            <img src="data:image/png;base64, {{ssb_result|safe}}" />
            {% elif tipe == 'dsbfc' %}
            <img src="data:image/png;base64, {{dsbfc_result|safe}}" />
            {% elif tipe == 'dsbsc' %}
            <img src="data:image/png;base64, {{dsbsc_result|safe}}" />
            {% endif %}
          </div>
        </div>
        <!-- Tab : FM Modulation -->
        <div class="tab-pane fade" id="nav-fm" role="tabpanel" aria-labelledby="nav-fm-tab">
          <!-- FM Modulation : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- FM Modulation : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>FM Modulation :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- FM Modulation : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'fm' %}" method="post">
                {% csrf_token %}
                <input type="text" name="parameter_fm" required style="height: 50px; width: 600px; margin-top: 30px;" placeholder="write FM time or frequency"/>
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;"/>
              </form>
            </div>
          </div>
          <!-- FM Modulation : Output -->
          <div class="row justify-content-center mt-5" id="show-result-am">
            {% if tipe == 'time' %}
            <img src="data:image/png;base64, {{fm_timeResult|safe}}" />
            {% elif tipe == 'frequency' %}
            <img src="data:image/png;base64, {{fm_freqResult|safe}}" />
            {% endif %}
          </div>
        </div>
        <!-- Tab : BASK Modulation -->
        <div class="tab-pane fade" id="nav-bask" role="tabpanel" aria-labelledby="nav-bask-tab">
          <!-- BASK Modulation : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- BASK Modulation : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>BASK Modulation :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- BASK Modulation : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'external' %}" method="post">
                <!-- {% csrf_token %} -->
                <input type="text" name="param" required style="height: 100px; margin-top: 30px;" />
                <!-- {{data_external}}<br><br>{{data1}}<br> -->
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;" />
              </form>
            </div>
          </div>
          <!-- Modulation : Output -->
          <div class="row justify-content-center mt-5">
            <img src="/TelcoWeb/static/img/signal-2.jpg" alt="signal-1" style="height: 160px" />
          </div>
        </div>
        <!-- Tab : BFSK Modulation -->
        <div class="tab-pane fade" id="nav-bfsk" role="tabpanel" aria-labelledby="nav-bfsk-tab">
          <!-- BFSK Modulation : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- BFSK Modulation : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>BFSK Modulation :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- BFSK Modulation : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'external' %}" method="post">
                <!-- {% csrf_token %} -->
                <input type="text" name="param" required style="height: 100px; margin-top: 30px;" />
                <!-- {{data_external}}<br><br>{{data1}}<br> -->
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;" />
              </form>
            </div>
          </div>
          <!-- BFSK Modulation : Output -->
          <div class="row justify-content-center mt-5">
            <img src="/TelcoWeb/static/img/signal-2.jpg" alt="signal-1" style="height: 160px" />
          </div>
        </div>
        <!-- Tab : BPSK Modulation -->
        <div class="tab-pane fade" id="nav-bpsk" role="tabpanel" aria-labelledby="nav-bpsk-tab">
          <!-- BPSK Modulation : Guidelines and Code -->
          <div class="row justify-content-center mt-5">
            <!-- BPSK Modulation : Guidelines -->
            <div class="col-lg guide-col">
              <h3><span>BPSK Modulation :</span> Guidelines</h3>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
                laboriosam vel consectetur autem corrupti facere tempora aut ab sed
                repellat, eveniet repellendus consequuntur, magni dolorem fuga? In
                voluptatem aut consectetur?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam
                doloremque corporis perferendis illo deserunt magnam? Iste hic assumenda
                soluta at provident reiciendis ex iure nostrum. Nostrum eius, veniam
                cumque veritatis nemo dolorum deleniti.
              </p>
            </div>
            <!-- BPSK Modulation : Code -->
            <div class="col-lg guide-col">
              <h3><span>Write </span>the code below</h3>
              <form action="{% url 'external' %}" method="post">
                <!-- {% csrf_token %} -->
                <input type="text" name="param" required style="height: 100px; margin-top: 30px;" />
                <!-- {{data_external}}<br><br>{{data1}}<br> -->
                <br>
                <input class="btn button" type="submit" value="Show Result" style="margin-top: 20px;" />
              </form>
            </div>
          </div>
          <!-- Modulation : Output -->
          <div class="row justify-content-center mt-5">
            <img src="/TelcoWeb/static/img/signal-2.jpg" alt="signal-1" style="height: 160px" />
          </div>
        </div>
      </div>
      <!-- End : Experiment Content -->
    </div>
  </section>
  <!-- End : Experiments -->

  <!-- Footer -->
  <footer class="text-center" id="footer">
    <p class="fs-6 fw-bold m-0">2021 &#169 Copyright by Capstone DTETI FT UGM</p>
  </footer>
  <!-- End : Footer -->

  <!-- Bootstrap + Script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <!-- End : Bootstrap + Script -->
</body>

</html>